@use '../scss/abstracts/' as *;

.main {
	padding-left: $sideBarWidth;
	overflow-x: hidden;
	@include tablet {
		width: 100vw;
		padding-left: 0;
	}
	&__content {
		padding: $spacing;
		min-height: 100vh;
		transition: all 0.5s ease-in-out;
		@include tablet {
			background-color: $bodyBg;
			padding: $mobileSpacing;
			position: relative;
			z-index: 100;
		}
	}
}
.sidebar-open .main__content {
	height: 100vh;
	overflow: hidden;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	transform: scale(0.8) translateX(50%);
	transition: all 0.5s ease-in-out;
}
